@page
@model WebAppAutorization.Pages.H_Factorys.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>H_Factory</h4>
<hr />

<div class="row">
    <div class="col-md-14">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="H_Factory.id_factory" />
            <input type="hidden" asp-for="H_Factory.load_dttm" />
            <input type="hidden" asp-for="S_Factory_info.id_factory" />
            <input type="hidden" asp-for="S_Factory_info.load_dttm" />
            @if (Model.S_Factory_info.adress == "TEST")
            {
            }

            <div class="row mb-1">
                <div class="col-sm-2">
                    <label asp-for="H_Factory.name_factory" class="control-label"></label>
                    <input asp-for="H_Factory.name_factory" class="form-control" />
                    <span asp-validation-for="H_Factory.name_factory" class="text-danger"></span>
                </div>

                <div class="col-sm-2">
                    <label asp-for="S_Factory_info.description" class="control-label"></label>
                    <input asp-for="S_Factory_info.description" class="form-control" />
                    <span asp-validation-for="S_Factory_info.description" class="text-danger"></span>
                </div>
                <div class="col-sm-2">
                    <label asp-for="S_Factory_info.adress" class="control-label"></label>
                    <input asp-for="S_Factory_info.adress" class="form-control" />
                    <span asp-validation-for="S_Factory_info.adress" class="text-danger"></span>
                </div>
                <div class="col-sm-2">
                    <label class="control-label">Новый/ Корректировка -</label>
                    <button type="submit" class="btn btn-outline-primary" asp-page-handler="FactoryAddSatelit" asp-route-id_factory=@Model.H_Factory.id_factory>Сохранить</button>
                </div>
                <div class="col-sm-1">
                    <input class="form-check-input" asp-for="S_Factory_info.Status" />
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-sm-2">
                    <label class="form-check-label">
                    <input class="form-check-input" asp-for="H_Factory.Delete" /> @Html.DisplayNameFor(model => model.H_Factory.Delete)
                    </label>
                </div>
                <div class="col-sm-2">
                    <input type="submit" value="Применить" class="btn btn-primary" asp-page-handler="Async" asp-route-id=@Model.H_Factory.id_factory />
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-4">
                    <label asp-for="DivisionAdd.name_division" class="control-label">Новое подразделение</label>
                    <input asp-for="DivisionAdd.name_division" class="form-control" >
                    <span asp-validation-for="DivisionAdd.name_division" class="text-danger"></span>
                </div>
                <div class="col-sm-2">
                    <label class="control-label"></label>
                    <button type="submit" class="btn btn-outline-primary" asp-page-handler="FactoryAddDivision" asp-route-id_factory=@Model.H_Factory.id_factory>Добавить подразделение</button>
                </div>
            </div>
        </form>
    </div>
</div>

<p>
    @if (@Model._foundDubl != null)
    {
        <h6>Дубликат ! Будьте ВНИМАТЕЛЬНЫ - запись c {@Model._foundDubl.name_division} уже есть !</h6>
    }
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.H_Division[0].name_division)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.H_Division[0].load_dttm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.H_Division[0].id_source)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.H_Division[0].Delete)
            </th>
            <th>Выполнить</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.H_Division)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name_division)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.load_dttm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.id_source)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Delete)
                </td>
                <td>
                    <a class="btn btn-outline-primary" asp-page="/H_Divisions/Edit" asp-route-id="@item.id_division" asp-route-id_factory="@Model.H_Factory.id_factory">Редактировать </a>
                    <a class="btn btn-outline-danger" asp-page="/H_Divisions/Delete" asp-route-id="@item.id_division">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-page="./Index">Вернуться в список Factory</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
