@page
@model WebAppAutorization.Pages.H_Factorys.IndexModel

@{
    ViewData["Title"] = "Производственные структуры";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.H_Factory[0].name_factory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.H_Factory[0].load_dttm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.H_Factory[0].id_source)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.H_Factory[0].Delete)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.H_Factory) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name_factory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.load_dttm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_source)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delete)
            </td>
            <td>
                <a class="btn btn-outline-primary btn-sm" asp-page="./Edit" asp-route-id="@item.id_factory">Редактировать</a>
                <a class="btn btn-outline-danger btn-sm" asp-page="./Delete" asp-route-id="@item.id_factory">Удаление</a>
            </td>
        </tr>
}
    </tbody>
</table>
