@page
@model WebAppAutorization.Pages.S_Factory_infos.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>S_Factory_info</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.S_Factory_info.id_factory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.S_Factory_info.id_factory)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.S_Factory_info.description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.S_Factory_info.description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.S_Factory_info.adress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.S_Factory_info.adress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.S_Factory_info.id_source)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.S_Factory_info.id_source)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.S_Factory_info.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.S_Factory_info.Status)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="S_Factory_info.load_dttm" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
