@page
@model WebAppAutorization.Pages.SandSludgePools.IndexModel

@{
    ViewData["Title"] = "ЦЭХ №3";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h3>Песчаный шлам в шламбассейнах</h3>

<form method="post">
    <div class="row mb-1">
        <input type="hidden" asp-for="curUser.Id" />
        <div class="col-sm-2">
            <label asp-for="curUser.DateFiltrStart" class="control-label"></label>
            <input asp-for="curUser.DateFiltrStart" class="form-control" />
            <span asp-validation-for="curUser.DateFiltrStart" class="text-danger"></span>
        </div>
        <div class="col-sm-2">
            <label asp-for="curUser.DateFiltrEnd" class="control-label"></label>
            <input asp-for="curUser.DateFiltrEnd" class="form-control" />
            <span asp-validation-for="curUser.DateFiltrEnd" class="text-danger"></span>
        </div>
        <div class="col-sm-1">
            <button type="submit" class="btn btn-outline-primary" asp-page-handler="ChangeGoFiltr" asp-route-Id="@Model.curUser.Id">Применить фильтр</button>
        </div>
    </div>
</form>

<hr />

<div class="row">
    <div class="col-md-14">

<div class="form-group">
    <a type="submit" class="btn btn-outline-primary" asp-page="Create">Создать новую</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SandSludgePools[0].DateTimeTrial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SandSludgePools[0].NumPool)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SandSludgePools[0].Density)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SandSludgePools[0].ResidueOnSieve)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SandSludgePools[0].GypsumContentSandSlurry)
            </th>
            <th>Выполнить</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SandSludgePools) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeTrial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumPool)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Density)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResidueOnSieve)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GypsumContentSandSlurry)
            </td>
            <td>
                <a class="btn btn-primary btn-sm" asp-page="./Edit" asp-route-id="@item.Id">Редактировать</a>
                <a class="btn btn-danger btn-sm" asp-page="./Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
    </div>
</div>
